.about {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.image {
  width: 300px;
  object-fit: cover;
}

@media (max-width: 950px) {
  .about {
    flex-direction: column;
  }
}
