.mission {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
  max-width: 1300px;
  margin-inline: auto;
  padding: 20px;
}

.image {
  width: 45%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.text {
  flex: 1;
  min-width: 0;
}

@media (max-width: 950px) {
  .mission {
    flex-direction: column-reverse;
    max-width: 500px;
  }
  .image {
    width: 100%;
  }
}
